
// basic
body{
	// font-size: 62.5%;
    // font-size: 10px;
    font-family:'Open Sans',Helvetica,Arial,sans-serif
}

.button, button, a{
    outline: 0;
}
button:focus, a:focus{
    color: inherit;
}

html, body{
    -webkit-font-smoothing: antialiased;
}
ul{
	font-size: 1em;
}
p{
    line-height: 1.8;
    margin-bottom: 0;
}

.container{
    max-width: 1070px;
    width: 100%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
.col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1,
.col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
.col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
}
 


@font-face {
    font-family: 'muller_narrowextrabold';
    src: url('../fonts/mullernarrow-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/mullernarrow-extrabold-webfont.woff') format('woff'),
         url('../fonts/mullernarrow-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/mullernarrow-extrabold-webfont.svg#muller_narrowextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}